body{
  background-color: beige;
}

md-card:parent > :hover{
  position: relative; 
  top: -5px;;
  }
  
  div[layout="row"] {
    overflow: auto;
  }

  #navbar{
    background-color: rgb(0, 110, 173);
    color: rgb(255, 255, 255)
  }

#cardStyles{
  background-color: #3D405B;
  }

md-card{
  min-width: 400px;
}

#inputs{
  background-color: beige;
  width: 600px
}

md-card-title-text{
  font-size: 30px;
  font-weight: bold
}

#theader{
  font-weight: bold;
  font-size: 15px;
}

#genre{
  margin: auto;
  width: 90%;
}

table, th , td, tr  {
  /* border: 1px solid grey; */
  /* border-collapse: collapse; */
  /* padding: 5px; */
  width: 1000px;
  height: 10px;
}
