<section id="genre">
    <md-input-container>
        <label>Add a Genre</label>
        <input ng-model="GC.genre">
    </md-input-container>
    <md-input-container>
        <md-button md-no-ink class="md-raised md-primary" ng-click="GC.submitButton()">Submit</md-button>
    </md-input-container>

    <section>
        <table>
            <thead id="theader">
                <tr>
                    <td>Genre</td>
                    <td>count</td>
                    <td>movies</td>
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="genre in GC.displayArray | orderBy:'count' ">
                    <td>{{ genre.genre }}</td>
                    <td>{{ genre.count }}</td>
                    <td>{{ genre.array_agg }}</td>
                    <td>         <md-button md-no-ink class="md-raised md-primary" ng-click="GC.deleteButton()">Delete</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>