<p>{{vm.test}}</p>
<br>
<br>
<br>
<h1>Add a Movie</h1>
<md-content layout-gt-sm="row" layout-padding>
    <div>
        <md-input-container>
            <label>Movie Title</label>
            <input ng-model="vm.title">
        </md-input-container>
    </div>
    <md-input-container>
        <label>Genre</label>
        <md-select ng-model="vm.genre">
            <md-option ng-repeat="genre in vm.genre" value="{{genre.name}}">
                {{genre.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <md-datepicker md-placeholder="Release date" ng-model="vm.myDate"></md-datepicker>
    </md-input-container>
    <md-input-container>
            <md-button md-no-ink class="md-raised md-primary">Submit</md-button>
    </md-input-container>
</md-content>




<div class="md-padding" layout="row" layout-wrap>
        <md-card ng-repeat="movie in vm.displayArray">
            <md-card-title>
                <md-card-title-text>
                    {{movie.title}}
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sGbxmsDFVnE" frameborder="0" allowfullscreen></iframe>
                <p>Genre: {{movie.genre}}</p>
                <p>Release Date: {{movie.release_date}}</p>
                <p>Runtime: {{movie.runtime}}</p>
            </md-card-content>

        </md-card>
</div>